/* Demo Shop */
body {
	font-family:Open Sans;
	color: #6b6b6b;
	background-color: #fff;
}
.dark-color {
	color: #313539;
}
.light-color {
	color: #acacac;
}
.bg-color {
	background-color: #b39964;
}
a, a:hover, a:active, .color {
	color: #b08a4f;
}
.text-shadow {
	text-shadow: 0px 0px 1px rgba(49, 53, 57,0.2);
}
.simple_line {
    border-color: #b08a4f;
}
.recent-post .simple_line {
    border-color: #eee;
}
#fount-to-top {
    color: #b08a4f;
}
.header-font {
	font-family: 'Montserrat', sans-serif;
}
.header-logo-holder {
    margin-top: 25px;
    -webkit-transition: all 200ms linear 0ms;
    -khtml-transition: all 200ms linear 0ms;
    -moz-transition: all 200ms linear 0ms;
    -ms-transition: all 200ms linear 0ms;
    -o-transition: all 200ms linear 0ms;
    transition: all 200ms linear 0ms;
}
.header-logo-holder img {
	max-width: none;
}
.scrolling-menu .header-logo-holder {
	margin-top: 19px;
}
.header-static .header-logo-holder {
	margin-top: 34px;
}
.scrolling-menu .header-nav-inner {
    background-color: rgba(250, 250, 250, 0.95);
	box-shadow: 0px 0px 4px rgba(49, 53, 57,0.3);
	height: 66px;
	margin-top: 0;
}
.header-static .header-nav-inner {
	box-shadow: 0px 0px 4px rgba(49, 53, 57,0.3);
	height: 96px;
	margin-top: 0;
}
#menu-section .sf-menu>li {
    height: 96px;
    line-height: 96px;
    -webkit-transition: all 200ms linear 0ms;
    -khtml-transition: all 200ms linear 0ms;
    -moz-transition: all 200ms linear 0ms;
    -ms-transition: all 200ms linear 0ms;
    -o-transition: all 200ms linear 0ms;
    transition: all 200ms linear 0ms;
}
.scrolling-menu #menu-section .sf-menu>li {
    height: 66px;
    line-height: 66px;
}
#menu-section .sf-menu li a {
    color: #fff;
}
.scrolling-menu #menu-section .sf-menu li a,
.header-static #menu-section .sf-menu li a {
    color: #1c1c1c;
}
#menu-section .sf-menu li.active a,
#menu-section .sf-menu li:hover a {
    color: #b08a4f;
}
#menu-section .sf-menu > li:hover > a::after {
    background-color: #b08a4f;
}
.sf-menu .menu-item-has-children {
	position: relative;
}
.sf-menu .menu-item-has-children .sub-menu {
	top: 67px;
	background: #111111;
}
.sf-menu .menu-item-has-children.right .sub-menu {
	right: 0;
}
#menu-section .sf-menu .menu-item-has-children li a {
    border-top: 1px solid #222222;
	color: #fff;
}
#menu-section .sf-menu .menu-item-has-children li a:hover,
#menu-section .sf-menu .menu-item-has-children li.active a {
	color: #b08a4f;
}
.slider-scroll-button {
	opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page:hover span {
	background-color: #b08a4f;
}
ul.products-ul-slider li.product .product-thumb .product-add-cart:hover {
	color: #b08a4f;
}
ul.products-ul-slider li.product .product-info .product-cate a:hover {
	color: #b08a4f;
}
span.onsale {
	background: #b08a4f;
}
.btn-border {
	color: #fff;
	border-color: #fff;
}
.btn-border:hover {
	color: #fff;
	border-color: #b08a4f;
	background-color: #b08a4f;
}
#fullscreen-banner {
	background-color: #fff;
}
.testimonials_slider.owl-theme .tm_title {
    color: #b08a4f;
}
.testimonials_slider.owl-theme .owl-controls .owl-page.active span, 
.testimonials_slider.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #b08a4f;
}
.testimonials_slider.owl-theme h4 {
    font-weight: 500;
}
.post-grid .hentry .entry-featured:hover .blog-overlay {
    background-color: rgba(49, 53, 57, 0.6);
}
.post-grid .hentry .entry-featured .blog-overlay i {
	color: #fff;
}
.post-grid .hentry .entry-meta {
    color: #acacac;
}
.post-grid .hentry .entry-title a {
	color: #313539;
	font-size: 20px;
}
.post-grid .hentry .entry-title a:hover {
	color: #b08a4f;
}
.post-grid .hentry .theme-button a {
	border-radius: 0;
	color: #313539;
	border-color: #313539;
}
.post-grid .hentry .theme-button a:hover {
	background-color: #b08a4f;
	color: #fff;
	border-color: #b08a4f;
}
#footer {
	background-color: #1c1c1c;
}
#footer .footer-logo {
	max-width: 237px;
	margin-bottom: 4px;
}
#footer > .footer-inner i {
	margin-top: 4px;
	color: #e2e2e2;
}
#footer .widget-title {
	color: #fff;
}
#footer .highlighted {
    background: none;
	max-height: 29px;
	font-size: 10px;
	margin-bottom: 7px;
}
#footer .highlighted:focus {
    border-color: #b08a4f;
	color: #b08a4f;
}
#footer #signup_submit {
	margin-top: 7px;
    color: rgb(226, 226, 226);
    border: 2px solid rgb(226, 226, 226);
    background-color: transparent;
    font-size: 11px;
	padding: 3px 12px 2px 12px;
	font-family: Open Sans;
	font-weight: 700;
	-webkit-transition: all 200ms linear 0ms;
    -khtml-transition: all 200ms linear 0ms;
    -moz-transition: all 200ms linear 0ms;
    -ms-transition: all 200ms linear 0ms;
    -o-transition: all 200ms linear 0ms;
    transition: all 200ms linear 0ms;
}
#footer #signup_submit:hover {
	border-color: #b08a4f;
	background-color: #b08a4f;
	color: #fff;
}
#footer .recent-post h6 a {
	color: #fff;
}
#footer .recent-post h6 a:hover {
	color: #b08a4f;
}
#footer a {
	color: #e2e2e2;
}
#footer a:hover {
	color: #b08a4f;
}
.panel-title a, .panel-title a:hover {
	color: #b08a4f;
}
.panel-title a:after {
	color: #b08a4f;
}
.service-item .service-icon {
	font-size: 45px;
    line-height: 60px;
    height: 60px;
}
.service-item .service-icon:hover {
	font-size: 50px;
}
.service-item .service-icon:hover i {
	color: rgb(221, 200, 119) !important;
}
.commerce-result-count {
	color: #313539;
}
.paginate .paginate_links .page-numbers.current {
    background: #b08a4f;
	border-color: #b08a4f;
}
.highlighted {
	background-color: transparent;
	border-color: rgba(114, 114, 114,0.2);
	color: #6b6b6b;
}
.highlighted:focus {
	background-color: rgba(176, 138, 79,0.1);
	border-color: rgba(176, 138, 79,0.65);
	color: #b08a4f;
}
.widget .tagcloud a {
	background: none;
	border: 1px solid #b08a4f;
	color: #6b6b6b;
}
.widget .tagcloud a:hover {
	background-color: #b08a4f;
	border: 1px solid #b08a4f;
	color: #fff;
}
.mfp-figure:after,
.mfp-content {
	background: none;
	box-shadow: none;
}
img.mfp-img {
	padding-bottom: 0;
}
.mfp-close-btn-in .mfp-close:hover {
    color: #b08a4f;
}
.fount-close-figure, .fount-left-figure, .fount-right-figure, .mfp-close {
	color: #acacac;
	opacity: 1;
}
.star-rating span {
	color: #b08a4f;
}
.product-detail .summary .cart button:hover {
	background-color: #b08a4f;
}
.posts-wrap .entry-title a {
	color: #313539;
}
.posts-wrap .entry-meta,
.posts-wrap .entry-meta a,
.single-post .entry-meta,
.single-post .entry-meta a,
.masonry-post-item .entry-footer .blog-categories a {
	color: #acacac;
}
.posts-wrap .entry-title a:hover,
.posts-wrap .entry-meta a:hover,
.paging-navigation .prev-nav:hover,
.paging-navigation .next-nav:hover,
.single-post .entry-meta a:hover,
.masonry-post-item .entry-footer .blog-categories a:hover {
	color: #b08a4f;
}
.single-post .simple_line {
	border-color: #acacac;
}
.masonry-post-item .entry-meta,
.masonry-post-item .entry-title,
.masonry-post-item .entry-content,
.masonry-post-item .entry-footer {
	padding-left: 0;
	padding-right: 0;
}
.masonry-post-item .entry-title {
	margin-bottom: 5px;
}
.posts-wrap .entry-title a {
	font-size: 20px;
}
.masonry-post-item .entry-footer .blog-categories a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
.masonry-post-item .entry-footer .theme-button a {
	font-family: 'Montserrat', sans-serif;
	color: #acacac;
}
.masonry-post-item .entry-footer .theme-button a:hover {
	color: #b08a4f;
}
.masonry-post-item .entry-footer {
	float: left;
	width: 100%;
	border-bottom: 1px solid #dedede;
}
.masonry-post-item .entry-footer .theme-button {
	margin-bottom: 6px;
}
.company-info .simple_line {
	border-color: #c5c5c5;
}
.company-info {
	color: #313539;
}
.comment-author {
	font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width: 768px) {
	.header-absolute {
		position: relative;
		z-index: 1;
	}
	#header-nav.classic-menu {
		background-color: #fff;
		position: static;
	}
	.header-logo-before {
		display: none;
	}
	.header-logo-after {
		filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    	opacity: 1; 
	}
	#menu-section .sf-menu {
		display: none;
		height: 270px;
		overflow-y: scroll;
	}
	.header-logo {
		position: absolute;
	}
	#menu-toggle-floater {
		display: inline-block;
		height: 66px;
    	line-height: 66px;
	}
	#menu-toggle-floater .menu-toggle .menu-bar {
		width: 17px;
		height: 3px;
		background-color: rgba(37, 37, 37,0.88);
	}
	.header-nav-inner {
		height: 66px;
	}
	.header-logo-holder, .header-static .header-logo-holder {
		margin-top: 18px;
	}
	#menu-section .sf-menu > li {
		width: 100%;
		float: left;
		height: auto;
		line-height: inherit;
		text-align: center;
		border-top: 1px solid #eeeeee;
	}
	#menu-section .sf-menu .menu-item-has-children li a {
		border-color: #eeeeee;
		color: #8e8e8e;
	}
	#menu-section .sf-menu > li > a, 
	#menu-section .sf-menu > li > a.current {
		padding: 10px 0px;
		font-weight: 600;
		font-size: 15px;
		width: 100%;
	}
	#menu-section .sf-menu > li:hover > a::after {
		background: none;
	}
	.sf-menu .menu-item-has-children .sub-menu {
		visibility: visible !important;
		display: block !important;
		position: static;
		text-align: center;
	}
	.sf-menu .sub-menu a {
		filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
	}
	#menu-section .sf-menu li a,
	.header-static #menu-section .sf-menu li a {
		color: #8e8e8e;
	}
	.header-static #header-nav.classic-menu {
		position: relative;
	}
	.header-static .header-nav-inner {
		height: 66px;
	}
	.header-static .header-nav-inner {
		box-shadow: none;
	}
	#menu-section .sf-menu li.active > a, 
	#menu-section .sf-menu li:hover a {
		color: #b08a4f;
	}
	.contact-us h4.fz-25 {
		font-size: 21px !important;
	}
	.product-detail .images {
		margin-right: 3%;
	}
}
@media only screen and (max-width: 480px) {
	#fullscreen-banner .sld-v-center {
		margin-top: 0 !important;
	}
	.owl-carousel .huge .headings-top, 
	#fullscreen-banner .huge .headings-top {
		font-size: 2.6em;
	}
	.owl-carousel .huge .headings-body, 
	#fullscreen-banner .huge .headings-body {
		font-size: 0.9em;
	}
	#copyright .col-sm-6.text-right {
		text-align: left;
	}
	.product-detail .images {
		margin-right: 0;
		width: 100%;
	}
	.product-detail .summary {
		width: 100%;
	}
}